name: Build ARM64

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build ARM64 Docker image
        run: |
          docker build --platform linux/arm64 -t build .

      - name: Extract binary from container
        run: |
          CONTAINER_ID=$(docker create build)
          docker cp $CONTAINER_ID:/src/objs/bin/mtproto-proxy ./mtproto-proxy
          docker rm $CONTAINER_ID
          chmod +x ./mtproto-proxy

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mtproto-proxy-arm64
          path: ./mtproto-proxy
